*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

main{
    height: calc(100vh - 90px);
    display: flex;
}

footer{
    height: 90px;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

i{
    color: lightgrey;
}

span, p{
    color: lightgrey;
}

p{
    padding: 0.4rem 0rem;
}

h2, h3{
    color: white;
}

.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.col-left{
    width: 220px;
    background-color: rgb(0, 0, 0);
    height: 100%;
    overflow: hidden;
}

.col-right{
    width: calc(100% - 220px);
    background-color: BLACK;
    height: 100%;
    overflow: hidden;
}

#top-ad{
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
    height: 80px;
}

#top-ad > div{
    justify-content: flex-end;
    padding: 1rem;
}

.btn{
    text-decoration: none;
    background-color: black;
    padding: 10px 35px;
    border: 1px solid white;
    color: white;
    border-radius: 40px;
}

.nav-top{
    height: calc(100% - 85px);
    display: flex;
    flex-direction: column;
}

.nav-bottom{
    height: 85px;
    align-items: center;
    position: relative;
    z-index: 10;
    background-color: black;
}

.nav-logo{
    padding: 1rem;
    height: 80px;
}

.nav-menu > div{
    padding-left: 1rem;
    padding-top: .5rem;
}

.side-menu-images{
    width: 15%;
}

.nav-playlist{
    flex-direction: column;
    padding-left: 1rem;
    padding-top: 1rem;
}

.nav-playlist > .flex > i{
    font-size: 3em;
    color: lightgrey;
}

.nav-menu > div > span, .flex > span, .account > .flex{ 
    padding-left: .5em;
    align-self: center;
}

.playlist-list{
    overflow: auto;
    height: 200px;
}

.account{
    position: relative;
    z-index: 10;
    background-color: black;
}

.account> div > img{
    width: 10%;
}

.music-options{
    width: 50%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-around;
    height: 30px;
    padding-bottom: 3rem;
}

.option > a{
    text-decoration: none;
    color: white;
}

.container-music{
    padding: 0 3rem;
    overflow: auto;
    height: calc(100% - 110px);
}

.container-music > p{
    padding-bottom: 1.5rem;
}

.music{
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.card{
    flex-direction: column;
    width: calc((100% / 6) - 2rem);
    margin-right: 2rem;
}

.music-text{
    text-align: center;
    padding-top: 1rem;
}

.card > img{
    object-fit: contain;
}

.secondary-title{
    padding: 1rem 0;
}

.round-image{
    border-radius: 50%;
}

.song-info{
    flex-basis: 300px;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

#image{
    width: 60px;
}

.player{
    width: 600px;
    text-align: center;
    row-gap: 10px;
}

.top-plater{
    font-size: 1.8rem;
    justify-content: space-evenly;
    width: 50%;
    margin: 0 auto;
}

.player-bottom{
    justify-content: space-evenly;
    color: white;
    align-items: center;
}

.audio-settings{
    flex-basis: 300px;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

/* .audio-settings i{
    padding-left: 1rem;
    font-size: 1.2em;
}

.audio-settings > .icon-box{
    padding-top: 3.5rem;
}

.audio-settings > div{
    padding-top: 4rem;
    padding-left: 1rem;
}

.player-buttons{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    justify-content: space-around;
    padding-top: .8rem;
}

.player-buttons > i{
    font-size: 2rem;
}

.player-timeline{
    justify-content: center;
    height: 100%;
}

.player-timeline > p{
    align-self: center;
    padding: 0 .4rem;
} */ 

#active-left{
    border-left: .2em solid #adff2f;
    padding-left: .8em;
    color: white;
}

#color-white{
    color: white;
}

#hr-user{
    width: 90%;
    margin: .6rem auto;
}

#title{
    padding-bottom: 2rem;
}

#active-option{
    border-bottom: 3px solid #adff2f;
    padding-bottom: .8rem;
}

#audiobar{
    width: 50%;
    height: 6px;
    background-color: rgb(83, 83, 83);
    border-radius: 5px;
}

#curret-audio{
    height: 100%;
    width: 50%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .6);

}

#timeline{
    width: 60%;
    height: 5px;
    background-color: rgb(83, 83, 83);
    border-radius: 5px;
}

#time{
    height: 100%;
    width: 15%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .6);
}